.chatbase-conversation-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem
}

.chatbase-conversation-wrapper .chatbase-message-assistant {
  display: flex;
  justify-content: flex-start;
  margin-right: 2rem;
}

.chatbase-conversation-wrapper .chatbase-message-user {
  display: flex;
  justify-content: flex-end;
  margin-left: 2rem;
}

.chatbase-conversation-wrapper .chatbase-message-assistant .chatbase-message,
.chatbase-conversation-wrapper .chatbase-message-user .chatbase-message {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;
}

.chatbase-conversation-wrapper .chatbase-message-assistant .chatbase-message {
  background-color: rgb(241, 241, 240);
  color: black;
}

.chatbase-conversation-wrapper .chatbase-message-user .chatbase-message {
  background-color: rgb(59, 129, 246);
  color: white;
}
