<div class="chatbase-conversation-wrapper">
  {% for message in messages %}
    <div class="chatbase-message-{{ message.role }}">
      <div class="chatbase-message">{{ message.content }}</div>
    </div>
  {% endfor %}
</div>
